<p id="notice"><%= notice %></p>

<p>
  <strong>Apncode:</strong>
  <%= @sale.apncode %>
</p>

<p>
  <strong>Rrp:</strong>
  <%= @sale.rrp %>
</p>

<p>
  <strong>Lastbyprice:</strong>
  <%= @sale.lastByPrice %>
</p>

<p>
  <strong>Itemdescription:</strong>
  <%= @sale.itemDescription %>
</p>

<p>
  <strong>Author:</strong>
  <%= @sale.author %>
</p>

<p>
  <strong>Productcategory:</strong>
  <%= @sale.productCategory %>
</p>

<p>
  <strong>Actualstockonhand:</strong>
  <%= @sale.actualStockOnHand %>
</p>

<p>
  <strong>Transdate:</strong>
  <%= @sale.transDate %>
</p>

<p>
  <strong>Transtime:</strong>
  <%= @sale.transTime %>
</p>

<p>
  <strong>Transdocumentnumber:</strong>
  <%= @sale.transDocumentNumber %>
</p>

<p>
  <strong>Transrreference:</strong>
  <%= @sale.transRreference %>
</p>

<p>
  <strong>Transtotalextaxvalue:</strong>
  <%= @sale.transTotalExtaxValue %>
</p>

<p>
  <strong>Transtotaltax:</strong>
  <%= @sale.transTotaltax %>
</p>

<p>
  <strong>Totaldiscountgiven:</strong>
  <%= @sale.totalDiscountGiven %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
